Lab1/aiden.adzich185L01.zip
Lab2/aiden.adzich185L02.zip
credentials.txt
my_venv
Lab8/aiden.adzich_venv
Lab4/185L04_aiden.adzich.zip
Lab6/185L06_aiden.adzich.zip
Lab9/aiden.adzich_185L09.zip
Test3/aiden.adzich_test0301/aiden.adzich_test0301.zip
Test3/aiden.adzich_test0302/aiden.adzich_test0302.zip
Test3/aiden.adzich_test0302/classes/__pycache__/Account.cpython-312.pyc
